:root {

  --light-neutral-color: #B7B7B7;
  --neutral-color: #1D1D1D;
  --foreground-color: #0D0D0D;
  --strong-foreground-color: #000000;
  
  --strong-surface-color: #E4E4E4;
  --surface-color: #FFFFFF;
  
  --brand-color: #011F39;
  --press-brand-color: #001527;
  --hover-brand-color: #012748;
}